/* ウィンドウ幅が最大767pxまでの場合 */
@media screen and (max-width: 767px) {
.header {
    width: 300px;
}
.main {
    width: 300px;
}
.footer {
    width: 300px;
}
.left {
    width: 100px;
}
.right {
    width: 200px;
}
.right-upper {
    width: 200px;
}
.right-upper-left {
    width: 125px;
}
.top-box {
    width: 125px;
}
.bottom-box {
    width: 200px;
}
.right-lower {
    width: 200px;
}
.right-upper-right {
    width: 75px;
}
}
/* ウィンドウ幅が最大479pxまでの場合 */
@media screen and (max-width: 479px) {
.header {
    width: 150px;
}
.main {
    width: 150px;
    height: 450px;
    flex-direction:column;
}
.left {
    height: 100px;
    width: 150px;
}
.right-upper {
    height: 250px;
    width: 150px;
    flex-direction:column-reverse;
}
.top-box {
    height: 50px;
    width: 150px;
}
.bottom-box {
    height: 100px;
    width: 150px;
}
.right-upper-right {
    height: 100px;
    width: 150px;
}
.right-upper-left {
    height: 150px;
    width: 150px;
}
}